n8n.json
{
  "id": "mBet6dmnps7S2VDc",
  "name": "Mist AI Ops \u2014 Claude + Webhooks",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Mist Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        0
      ],
      "webhookId": "mist-events",
      "parameters": {
        "path": "mist-events",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "92f35df4-f63a-4cb0-beb1-8c9e131d5b74",
      "name": "Buffer Raw Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        40
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://mist-api:8000/webhook/mist",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.first().json.body || $input.first().json) }}",
        "options": {
          "timeout": 3000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        -80
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "topic",
              "value": "={{ $json.body.topic || $json.topic || 'unknown' }}"
            },
            {
              "name": "events",
              "value": "={{ $json.body.events || $json.events || [] }}"
            },
            {
              "name": "org_id",
              "value": "={{ $json.body.org_id || $json.org_id || '' }}"
            },
            {
              "name": "site_id",
              "value": "={{ $json.body.site_id || $json.site_id || '' }}"
            },
            {
              "name": "raw",
              "value": "={{ JSON.stringify($json.body || $json) }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -720,
        40
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "High Priority?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.topic }}",
              "rightValue": "alarms",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Build Analysis Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -160
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "prompt",
              "value": "={{ 'Analyze this Mist network event and provide a concise summary with recommended actions:\\n\\nTopic: ' + $json.topic + '\\nOrg: ' + $json.org_id + '\\nSite: ' + $json.site_id + '\\nEvents: ' + JSON.stringify($json.events, null, 2) }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Claude Analyze Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -160
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "analysis",
              "value": "={{ $json.content[0].text }}"
            },
            {
              "name": "topic",
              "value": "={{ $('Normalize Event').first().json.topic }}"
            },
            {
              "name": "org_id",
              "value": "={{ $('Normalize Event').first().json.org_id }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Push to Tatooine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -160
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://mist-api:8000/api/n8n/analysis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $json.topic, org_id: $json.org_id, analysis: $json.analysis }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Log Low Priority",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Push Low to Tatooine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://mist-api:8000/api/n8n/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $('Normalize Event').first().json.topic, events: $('Normalize Event').first().json.events, priority: 'low' }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        400
      ],
      "webhookId": "chat",
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Build Chat Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        400
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "user_message",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "system_prompt",
              "value": "You are Tatooine, an AI network operations assistant for Mist Enterprise Suite. You help network engineers monitor and manage Juniper Mist wireless infrastructure. You can query live network data, analyze alarms, and provide actionable recommendations. When the user asks for network data, respond with a JSON action block like: {\"action\": \"get_sites\"} or {\"action\": \"get_devices\", \"site_id\": \"<id>\"} or {\"action\": \"get_clients\", \"site_id\": \"<id>\"} or {\"action\": \"get_alarms\"} or {\"action\": \"restart_device\", \"site_id\": \"<id>\", \"device_id\": \"<id>\"}. Otherwise answer conversationally."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000003",
      "name": "Claude Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2048, system: $json.system_prompt, messages: [{ role: 'user', content: $json.user_message }] }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000004",
      "name": "Parse Chat Intent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        400
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "response_text",
              "value": "={{ $json.content[0].text }}"
            },
            {
              "name": "has_action",
              "value": "={{ $json.content[0].text.includes('\"action\"') }}"
            },
            {
              "name": "action_json",
              "value": "={{ (() => { try { const m = $json.content[0].text.match(/\\{[\\s\\S]*?\"action\"[\\s\\S]*?\\}/); return m ? m[0] : '{}'; } catch(e) { return '{}'; } })() }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000005",
      "name": "Has API Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-chat-001",
              "leftValue": "={{ $json.has_action }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000006",
      "name": "Execute Chat API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "http://mist-api:8000/api/n8n/action",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.action_json }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000007",
      "name": "Build Chat Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        320
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "output",
              "value": "={{ $('Parse Chat Intent').first().json.response_text + '\\n\\n**Live Data:**\\n```json\\n' + JSON.stringify($json, null, 2) + '\\n```' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000008",
      "name": "Chat Respond With Data",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        320
      ],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000009",
      "name": "Build Chat Response No Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        480
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "output",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000010",
      "name": "Chat Respond No Data",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        480
      ],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Mist API Proxy",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        800
      ],
      "webhookId": "mist-api-proxy",
      "parameters": {
        "path": "mist-api-proxy",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "API Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -960,
        800
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "={{ \"get_sites\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_sites"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "={{ \"get_devices\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_devices"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "={{ \"get_clients\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_clients"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "={{ \"get_alarms\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_alarms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "={{ \"restart_device\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "restart_device"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Mist GET Sites",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        640
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.mist.com/api/v1/orgs/' + ($json.query.org_id || $json.mist_org_id) + '/sites' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Token ' + $json.mist_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "Mist GET Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        720
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.mist.com/api/v1/sites/' + $json.query.site_id + '/devices' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Token ' + $json.mist_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000005",
      "name": "Mist GET Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        800
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.mist.com/api/v1/sites/' + $json.query.site_id + '/stats/clients' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Token ' + $json.mist_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000006",
      "name": "Mist GET Alarms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        880
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.mist.com/api/v1/orgs/' + ($json.query.org_id || $json.mist_org_id) + '/alarms/search' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Token ' + $json.mist_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000007",
      "name": "Mist RESTART Device",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        960
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.mist.com/api/v1/sites/' + $json.query.site_id + '/devices/' + $json.query.device_id + '/restart' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Token ' + $json.mist_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000008",
      "name": "API Unknown Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        1040
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "error",
              "value": "Unknown action"
            },
            {
              "name": "action",
              "value": "={{ $json.query.action }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000009",
      "name": "API Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        800
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "sd-0001-0001-0001-0001-000000000001",
      "name": "Self-Driving Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        400
      ],
      "webhookId": "self-driving-trigger",
      "parameters": {
        "path": "self-driving-trigger",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "sd-0001-0001-0001-0001-000000000002",
      "name": "Run Self-Driving Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=http://mist-api:8000/api/v1/orgs/{{ $json.body.org_id || $json.org_id }}/self-driving/pipeline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Mist-Token",
              "value": "={{ $json.body.token || $json.token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ dry_run: $json.body.dry_run !== false, source: 'n8n' }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "sd-0001-0001-0001-0001-000000000003",
      "name": "Self-Driving Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -720,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "resolve-org-0001-0001-0001-0001-000000000001",
      "name": "Resolve Org from Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        960
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.mist.com/api/v1/self",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Token ' + $env.MIST_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "set-mist-ctx-0001-0001-0001-0001-000000000001",
      "name": "Set Mist Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        960
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "query",
              "type": "objectValue",
              "value": "={{ $('Mist API Proxy').first().json.query }}"
            },
            {
              "name": "mist_token",
              "type": "stringValue",
              "value": "={{ $env.MIST_API_TOKEN }}"
            },
            {
              "name": "mist_org_id",
              "type": "stringValue",
              "value": "={{ ($json.privileges && $json.privileges.length > 0) ? $json.privileges[0].org_id : '' }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Mist Webhook Receiver": {
      "main": [
        [
          {
            "node": "Buffer Raw Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Raw Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "High Priority?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority?": {
      "main": [
        [
          {
            "node": "Build Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Low Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analysis Prompt": {
      "main": [
        [
          {
            "node": "Claude Analyze Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analyze Event": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Push to Tatooine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Low Priority": {
      "main": [
        [
          {
            "node": "Push Low to Tatooine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Build Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Prompt": {
      "main": [
        [
          {
            "node": "Claude Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Chat": {
      "main": [
        [
          {
            "node": "Parse Chat Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat Intent": {
      "main": [
        [
          {
            "node": "Has API Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has API Action?": {
      "main": [
        [
          {
            "node": "Execute Chat API Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Chat Response No Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Chat API Call": {
      "main": [
        [
          {
            "node": "Build Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Response": {
      "main": [
        [
          {
            "node": "Chat Respond With Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Response No Data": {
      "main": [
        [
          {
            "node": "Chat Respond No Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mist API Proxy": {
      "main": [
        [
          {
            "node": "Resolve Org from Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Action Router": {
      "main": [
        [
          {
            "node": "Mist GET Sites",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mist GET Devices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mist GET Clients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mist GET Alarms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mist RESTART Device",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mist GET Sites": {
      "main": [
        [
          {
            "node": "API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mist GET Devices": {
      "main": [
        [
          {
            "node": "API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mist GET Clients": {
      "main": [
        [
          {
            "node": "API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mist GET Alarms": {
      "main": [
        [
          {
            "node": "API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mist RESTART Device": {
      "main": [
        [
          {
            "node": "API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Unknown Action": {
      "main": [
        [
          {
            "node": "API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Self-Driving Trigger": {
      "main": [
        [
          {
            "node": "Run Self-Driving Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Self-Driving Pipeline": {
      "main": [
        [
          {
            "node": "Self-Driving Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Org from Token": {
      "main": [
        [
          {
            "node": "Set Mist Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Mist Context": {
      "main": [
        [
          {
            "node": "API Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}